{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}View Profile{% endblock %}

{% block body_block %}

	<div class="col-xs-50 col-sm-8 placeholder">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title"><h1>{{ user.username }}</h1></h3>
			</div>
		</div>

		<ul class="list-group">
			<li class="list-group-item"><h3>Email:</h3>{{user.email}}</li> 
			
			<li class="list-group-item"><h3>Website:</h3> {{profile.website}}</li> 
			
			<li class="list-group-item"><h3>Picture:</h3> <img  width="280" height="200" src="{{profile.picture.url}}" alt="Profile Picture" /></li> 
		</ul>		
	</div>
	
{% endblock %}