{% extends "base.html" %}
{% block body_block %}
{% if username %}
    {% if profile %}
        <div class="page-header">
        <h1>{{username.username}}'s profile</h1>
        </div>
        {% if profile.picture %}
            <img alt = "Photo: " src = "{{profile.picture.url}}" height="200" width ="300"/>
        {% endif %}
        <p>
        {% if profile.website %}
            <strong> Website: <a href="<{{profile.website}}">{{profile.website}}</a> <strong/>
        {% endif %}
        <br>
        <strong> E-mail: {{username.email}} <strong/>
        </p>
        {% else %}
            <strong> {{username.username}} doesn't have a profile yet. <strong/>
        {% endif %}
        {% if user.username == username.username %}
            <form action="/rango/add_profile" method="get">
            <input type="submit" value="Edit" 
            name="Submit" id="frm1_submit" />
            </form>
        {% endif %}
        {% endif %}
{% endblock %}